.services {
    display: flex;
    padding: 50px;
  }
  
  .services-image{
    border-radius: 100%;
    height: 300px;
    width: 300px;
  }
  
  .highlight{
    color: grey;
  }
  
  
  .portfolio-bottom {
    display: flex;
  }
  
  .portfolio-left{
     padding: 50px;
  }
  
  .portfolio-middle {
    padding: 50px;
  }
  
  .portfolio-right {
    padding: 50px;
  }
  
  .portfolio h2{
    color: blue;
    padding: 10px;
  }
  
  .contact-form{
    display: flex;
    background-color: #f4f4f4;
    padding: 5px;
    margin: 20px;
  }
  
  .contact-form-left p{
    font-weight: bold;
    padding: 20px;
  }
  
  .contact-form-right {
     width: 100%;
  }
  
  .submit {
    float: right;
    padding: 10px;
  }