<div class="contact">
    <div class="contact-copy">
    <h1>
    Contact
    </h1>
        <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum, 
        lorem et cursus vulputate, nunc enim consequat erat, eget vulputate erat lorem sed justo. 
        Integer ac feugiat felis. Aenean sollicitudin arcu nec eros suscipit, in bibendum libero laoreet.
         Nam ut sapien at ipsum consectetur malesuada.
        </p>   
    </div>

  <div class="contact-form">
    
        <div class='contact-form-left'>
          <p>
          Your E-mail
          </p>
           <p>
          Your Message
          </p>
        </div>
       <div class='contact-form-right'>
           <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Your email</label>
          </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Please enter your message here...</label>
            </div>
              <div class='submit'>
                <button type="button" class="btn btn-primary">Submit</button>
              </div>
        </div>
       </div>
     
       </div>
       
        
  
    </div>

