<div class="portfolio">
    <div class="portfolio-top">
      <h1>Portfolio</h1>
             <p> 
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum, 
             lorem et cursus vulputate, nunc enim consequat erat, eget vulputate erat lorem sed justo. 
             Integer ac feugiat felis. Aenean sollicitudin arcu nec eros suscipit, in bibendum libero laoreet.
              Nam ut sapien at ipsum consectetur malesuada.
             </p>
    </div>
     
     <div class="portfolio-bottom">
         <div class ="portfolio-left">
             <img class="image-1" src="https://picsum.photos/id/12/700/400">
              <h2>Project Name</h2>
             <p>Aenean sollicitudin arcu nec eros suscipit, in bibendum libero laoreet.
                 Nam ut sapien at ipsum consectetur malesuada.</p>
         </div>
         <div class ="portfolio-middle">
             <img class="image-2" src="https://picsum.photos/id/2/700/400">
              <h2>Project Name</h2>
             <p>Aenean sollicitudin arcu nec eros suscipit, in bibendum libero laoreet.
                 Nam ut sapien at ipsum consectetur malesuada.</p>
         </div>
         <div class ="portfolio-right">
             <img class="image-3" src="https://picsum.photos/id/32/700/400">
             <h2>Project Name</h2>
             <p>Aenean sollicitudin arcu nec eros suscipit, in bibendum libero laoreet.
                 Nam ut sapien at ipsum consectetur malesuada.</p>
         </div>
     
  </div>