<div class="services">
    <div class="services-image-left">
        <img class= services-image src='https://picsum.photos/id/23/700/400'>;
    </div>
    <div class="services-copy-right">
        <h1>The Second Heading <span class='highlight'> Is Pretty Cool Too.</span></h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum, 
            lorem et cursus vulputate, nunc enim consequat erat, eget vulputate erat lorem sed justo. 
        </p>
    </div>
 </div>